<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-secondary">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center gap-2 fw-bold text-danger" href="index.html">
      <img src="assets/ValoranTV.png" alt="Logo" width="32" height="32" />

      <div class="brand-text">
        <span class="brand-main">VALORANT</span>
        <span class="brand-sub">TIẾNG VIỆT</span>
      </div>
    </a>
    <a href="social.html" class="social-btn d-lg-none">
      <i class="bi bi-share-fill"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto gap-4">

        <li class="nav-item">
          <a class="nav-link" data-page="index" href="index.html">Trang chủ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-page="social" href="social.html">Social Media</a>
        </li>

        <!-- INFO DROPDOWN -->
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Cẩm nang
          </a>

          <ul class="dropdown-menu dropdown-menu-dark">

            <li>
              <a class="dropdown-item" href="agents.html">
                Đặc vụ
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="maps.html">
                Bản đồ
              </a>
            </li>

          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link" data-page="event" href="event.html">Sự kiện</a>
        </li>

      </ul>

    </div>
  </div>
</nav>